[Unit]
Description=ssh authorization agent (power by golang)

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/{APP} -addr {AGENT}
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

