[Unit]
Description=ssh authorization agent (power by golang)
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/{APP} -addr {AGENT} -conf /etc/{SERVICE}/config
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

